body
    {
        font-family: Arial, sans-serif;
        padding: 20px 20px 0 20px;
        background-color: #f0f0f0;
    }
    h1
    {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px; 
    }
    .logo
    {
        height: 200px;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .linegraph {
        box-sizing: border-box;
        margin: 20px;
        width: 150%;
        height: auto;
    }
    .charts-container {
        display: flex;
        gap: 20px;
        width: 90%;
    }
    .diskgraph{
        box-sizing: border-box;
        margin: 20px;
        width: 20%;
        height: auto;
    }
    .disk-container{
        display: flex;
        gap: 20px;
        width: 90%;
    }
    .gpu-info {
        margin-left: 20px;
        width: 100%;
        margin-top: 40px;
        
    }
    .computer-info{
        margin-left: 20px;
        width: 100%;
        margin-top: 40px;
    }

   @media screen and (max-width: 1000px) {
    .diskgraph{
        box-sizing: border-box;
        margin: 20px;
        width: 40%;
        height: auto;
    }
    .disk-container{
        display: flex;
        gap: 20px;
        width: 90%;
    }
    .linegraph {
        box-sizing: border-box;
        margin: 20px;
        width: 150%;
        height: auto;
    }
    .charts-container {
        display: flex;
        gap: 20px;
        width: 60%;
        flex-direction: column;
    }
}
