body
    {
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: #f0f0f0;
    }
    h1
    {
        font-family: Arial, Helvetica, sans-serif;
    }
    .logo
    {
        height: 200px;
        left: 80%;
        position: absolute;
        top: 0vh;
    }
    .linegraph {
        display: block;
        box-sizing: border-box;
        margin: 20px;
        height: 300px; 
        width: 600px; 
    }
    .charts-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .gpu-info {
        margin: 20px;
        padding: 10px;
        border: 1px solid #ccc;
    }